<div class="contact-us container alert alert-dark">
    <h4>Contact us today</h4>
    <address>
        <strong>Email</strong><br>
        <a href="mailto:info@ampeva.com">info@ampeva.com</a><br>
        <strong>Phone</strong><br>
        <p>903.238.1488 or 512.496.1802</p>
    </address>
</div>