<div>
    <ul>
        <li>Facilitation of Process Hazard Analysis (PHA) Studies.  PHAs can be completed during the conceptual/design phase of a project, as an “Initial PHA” at a facility, or as a PHA Revalidation.</li>
        <li>Review and Development of Operating or Maintenance Procedures to meet the regulatory requirements of PSM/RMP.</li>
        <li>Review, Development, and Delivery of Training Programs to meet the regulatory requirements of PSM/RMP.</li>
        <li>Leading Investigations related to Occupational/Process Safety Incidents and issuing reports with findings/recommendations.</li>
        <li>PSM/RMP Compliance Auditing.  As an alternative to a Compliance Audit, an Assessment can be completed to highlight potential areas of improvement.</li>
        <li>Assistance in the development, update or review of Risk Management Plans submitted to the EPA as part of compliance with the RMP Rule.</li>
        <li>Review and update or creation of new drawings associated with your Facility (e.g. P&IDs, Block Flow Diagrams, or Plot Plans).  Whether large or small, our organization partners with professional Draftsman that can handle your Drafting needs.</li>
    </ul>
</div>