<div>
    <h1>What we do</h1>
    <ul>
        <li>Overall Review, Strategy, Development and Implementation Support of PSM/RMPPrograms.  This can be done at the Plant or Corporate level to help your organization apply the most “fit for purpose” practices while complying with PSM/RMP.  Solutions are tailored to your needs.</li>
        <li>A full review of Process Safety Information (PSI) at your facility with reference to potential gaps in complying with PSM/RMP regulation or Industry Recognized and Generally Accepted Good Engineering Practice (RAGAGEP).</li>
        <li>Development of site‐specific Mechanical Integrity Programs at your facility.  This involves (1) building an accurate equipment list using a combination of PSI review and field verification, (2) assigning industry specific ITPM Type Tasks (Inspection, Testing, and Preventive Maintenance) to each piece of equipment, (3) identifying required or recommended frequency of the ITPM Task, and (4) assisting your organization in solutions for overall program execution.</li>
        <li>Project Compliance with PSM/RMP.  A full plan customized to your project can be put in place to ensure needed documentation (QA/QC & PSI) is being assembled, completed and provided during all phases.</li>
    </ul>
</div>