body, html {
    height: 100%;
}
body {
    background-image: url("../images/HexagonsCropped.jpg");
    background-size: 100% 100%;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

footer {
    background-color: rgb(41, 41, 41);
    /* background-color: rgb(243, 243, 241); */
}

h1, h2, h3, h5, h6, h7 {
    /* color: darkslategrey; */
    color: rgb(255, 196, 0);
}

.your_div {
  position: relative;
  top: 510px;
  margin-top: 100px;
  height: 5px;
  width: 110%;
  background-position: center bottom;
  margin: 0;
  margin-left: -30px;
}

.back {
  position: absolute;
  top: -99px;
  height: 100px;
  width: 100%;
}

h4, strong {
    color: darkslategrey;
}

address {
    font-size: 12pt;
}
.main-section {
    background-color: rgb(41, 41, 41);
    color: white;
    
}

.main-area {
    padding: 0 50px;    
}

.hero-h1 {
    color: rgb(255, 196, 0);
}

.background-image{
    width: 50%;
}

.header-logo{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-image{
    width: 100%;
    height: 200px;
}

.flex-container{
    display: flex;
}

.fixed{
    width: 600px;
}

.flex-item{
    flex-grow: 1;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/shutterstock_763172920.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.gpsa-footer-text {
    color: white;
    /* font-size: 8.5pt; */
    text-align: center;
}

.footer-text {
    color: white;
}

.footer-image {
    width: 8%;
}

.linkedin-footer-image {
    width: 5%;
}