<div>
  {{outlet}}
</div>
    <!-- Footer -->
<footer class="container page-footer font-small mdb-color lighten-3 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12 mb-4">

                <div class="view overlay z-depth-1-half">
                  <img src="images/gpsa-logo.jpg" class="footer-image img-fluid" alt="">
                  <a href="">
                    <div class="mask rgba-white-light"></div>
                  </a>
                </div>
            </div>

            <div class="col-md-8 mt-md-0 mt-3 align-self-center">
                <p class="footer-text">Ampeva is a GPSA member organization</p>
            </div>
      </div>
    </div>
</footer>