
<div class="main-area main-section container">

    <div class="row">
        <div class="col">
            <br>
            <h1>Who are we?</h1>
            <p>Ampeva Midstream, LLC (Ampeva) is a consulting organization with a primary focus in Process Safety and Risk Management.  Services are based on years of experience in compliance with 29 CFR 1910.119 (OSHA Process Safety Management of Highly Hazardous Chemicals) and 40 CFR Part 68 (EPA‐ Risk Management Plan).   Paired with a diverse background in onshore Natural Gas E&P, midstream Gas Processing/Treating/NGL Fractionation, and the Chemical Processing Industry, Ampeva delivers a first‐class product for its client.</p>
        </div>
        <div class="col">
            <br><br><br>
            <div class="container alert alert-dark">
                <h4>Contact us today</h4>
                <address>
                    <strong>Wesley Carter</strong><br>
                    CCPSC<br>
                    Owner, Senior Principal Consultant<br>
                    <a href="mailto:#">wesley.carter@ampeva.com</a>
                </address>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>What we do</h1>
            <h5>Process Safety and Risk Management solutions include:</h5>
            <ul>
                <li>Overall Review, Strategy, Development and Implementation Support of PSM/RMPPrograms.  This can be done at the Plant or Corporate level to help your organization applythe most “fitforpurpose” practices while complying with PSM/RMP.  Solutions are tailoredto your needs.</li>
                <li>A full review of Process Safety Information (PSI) at your facility with reference to potentialgaps in complying with PSM/RMP regulation or Industry Recognized and Generally AcceptedGood Engineering Practice (RAGAGEP).</li>
                <li>Development of site‐specific Mechanical Integrity Programs at your facility.  This involves (1)building an accurate equipment list using a combination of PSI review and field verification,(2)assigning industry specific ITPM Type Tasks (Inspection, Testing, and PreventiveMaintenance) to each piece of equipment, (3) identifying required or recommendedfrequency of the ITPM Task, and (4) assisting your organization in solutions for overallprogram execution.</li>
                <li>Project Compliance with PSM/RMP.  A full plan customized to your project can be put inplace to ensure needed documentation (QA/QC & PSI) is being assembled, completed andprovided during all phases.</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Facilitation of Process Hazard Analysis (PHA) Studies.  PHAs can be completed during theconceptual/design phase of a project, as an “Initial PHA” at a facility, or as a PHARevalidation.</li>
                <li>Review and Development of Operating or Maintenance Procedures to meet the regulatoryrequirements of PSM/RMP.</li>
                <li>Review, Development, and Delivery of Training Programs to meet the regulatoryrequirements of PSM/RMP.</li>
                <li>Leading Investigations related to Occupational/Process Safety Incidents and issuing reportswith findings/recommendations.</li>
                <li>PSM/RMP Compliance Auditing.  As an alternative to a Compliance Audit, an Assessmentcan be completed to highlight potential areas of improvement.</li>
                <li>Assistance in the development, update or review of Risk Management Plans submitted tothe EPA as part of compliance with the RMP Rule.</li>
                <li>Review and update or creation of new drawings associated with your Facility (e.g. P&IDs,Block Flow Diagrams, or Plot Plans).  Whether large or small, our organization partners with professional Draftsman that can handle your Drafting needs.</li>
            </ul>
        </div>
    </div>
    <br>
    <br>
</div>
{{outlet}}

    <!-- Footer -->
{{!-- <footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase font-weight-bold" style="color: white;">Social</h5>
            </div>
            <div class="col-lg-2 col-md-6 mb-10">
                <div class="view overlay z-depth-1-half">
                    <img src="images/RefinerySunset.jpg" class="img-fluid" alt="">
                    <a href="">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
      </div>
    </div>
  </footer> --}}