<div>
  {{outlet}}
</div>
    <!-- Footer -->
<footer class="container page-footer font-small mdb-color lighten-3 pt-4">
    <!-- Copyright -->
    <div class="footer-text footer-copyright text-center py-4">
        <a href="https://gpsamidstreamsuppliers.org/">
            <img src="images/gpsa-logo.jpg" class="footer-image" alt="">
        </a>
        <a href="https://www.linkedin.com/company/ampeva-llc/">
            <img src="images/linkedin.png" class="linkedin-footer-image" alt="Linked In Page">
        </a>
        © 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> ampeva.com </a>
      (Ampeva is a GPSA member organization)
    </div>
</footer>