<div>
  {{outlet}}
</div>
    <!-- Footer -->
<footer class="container page-footer font-small mdb-color lighten-3 pt-4">
    <div class="container">
        <div class="row d-flex justify-content-center no-gutters">
            <div class="col-sm-2">
                <img src="images/gpsa-logo.jpg" class="footer-image" alt="">
            </div>
            <div class="col-sm-2 align-self-center">
                <p class="gpsa-footer-text">Ampeva is a GPSA member organization</p>
            </div>
            {{!-- <div class="col-lg-3 align-self-center">
                <img src="images/linkedin.png" class="footer-image" alt="">
            </div> --}}
            {{!-- </div> --}}
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-text footer-copyright text-center py-3">
        <a href="https://www.linkedin.com/company/ampeva-llc/">
            <img src="images/linkedin.png" class="linkedin-footer-image" alt="Linked In Page">
        </a>
        © 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> ampeva.com</a>
    </div>
</footer>