<div class="main-area main-section container">

    <div class="row">
            {{#who-are-we class="col"}}
            {{/who-are-we}}
        <div class="col">
            <br>
            {{#contact-us}}
            {{/contact-us}}
        </div>
    </div>
    <div class="what-we-do row">
        {{#what-we-do-section-1 class="col"}}
        {{/what-we-do-section-1}}
        {{#what-we-do-section-2 class="col"}}
        {{/what-we-do-section-2}}
    </div>
</div>